.genre-select {
  background-color: var(--input-color);
  padding: 8px 16px 8px 8px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  color: var(--text-color);
  width: calc(100% * 1 / 3 / 3);
}
