.collection-page {
  padding: 0 30px;
  display: flex;
  flex-direction: column;

  &__header {
    h1 {
      color: var(--white-text-color);
    }
  }

  &__empty {
    p {
      color: var(--white-text-color);
    }
  }

  &__explore-btn {
    color: var(--white-text-color);
  }

  &__grid {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
