@use "../styles/breakpoints.scss" as *;

.dashboard {
  padding: 0 30px 20px 30px;

  &__empty,
  &__empty-btn,
  &__empty-text {
    color: var(--white-text-color);
  }

  h1 {
    color: var(--white-text-color);
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 360px;
    gap: 24px;
    align-items: start;
  }

  &__section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    h2 {
      color: var(--white-text-color);
    }
  }

  &__top-rated-link,
  &__currently-playing-link {
    color: var(--dark-text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.2s ease;
    line-height: 1;

    svg {
      transition:
        color 0.2s ease,
        fill 0.2s ease;
    }

    &:hover {
      color: var(--green-color);
    }
  }

  &__top-rated-list {
    background-color: var(--container-bg-color);
    padding: 0;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin: 0;
    overflow: hidden;
  }

  @media (max-width: 1200px) and (min-width: 993px) {
    &__grid {
      grid-template-columns: 1fr 300px;
      gap: 16px;
    }
  }

  @include respond-down("xl") {
    &__grid {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  @include respond-down("sm") {
    padding: 0 16px 16px 16px;
  }
}
